.userprofile{
    display: flex;
}

.userprofileRight{
    flex: 9;
}

.userprofileCover{
    height: 350px;
    position: relative;
}

.userprofileCoverImg{
    width: 99.8%;
    height: 250px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.3s ease;
}
.userprofileCoverImg:hover {
    transform: scale(1.05); 
  }

.userprofileUserImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 12;
    margin: auto;
    top: 210px;
    border: 3px solid white;
    transition: transform 0.3s ease;
}
.userprofileUserImg:hover{
    transform: scale(1.05); 
}

.userprofileInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: -50px;
    margin-left: 250px;
}

.userprofileInfoName{
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color:rgb(50, 11, 85) ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

.email{
    margin-top: 15x;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
}
.followButton,
.unfollowButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.followButton:hover,
.unfollowButton:hover {
  background-color: #45a049; 
  transform: translateY(-5px);
}

.unfollowButton {
  background-color: #f44336; 
}

.unfollowButton:hover {
  background-color: #d32f2f; 
  transform: translateY(-5px);
}
.messageButton {
    padding: 10px 20px;
    background-color: #007bff; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -45px;
    margin-left: 150px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s ease; /* Added transform property for animation */
    transform: translateY(0); /* Initial position */
  }
  
  .messageButton:hover {
    background-color: #0056b3; 
    transform: translateY(-5px); /* Move button up slightly on hover */
}
  
